body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.full-display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    gap: 10px;
}

.illustra{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .positioned-img {
    max-width: 75%;
    object-fit: contain;
  }
  
.signup-form {
    flex: 1;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.title h2 {
    font-size: 20px;
    color: #333;
}

.error {
    color: red;
    font-weight: 400;
    font-size: 12px;
    margin-left: 10px;
    display: block; 
}
.error_box {
    color: red;
    font-weight: 400;
    font-size: 12px;
    margin-left: 4px;
    display: block; 
}
.msg{
    margin: 0;
    padding: 0;
}
.success, .status{
    font-weight: 500;
    font-size: 14px;
   
}
.success{
    color: green;
}

.status{
    color: red;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 1rem;
}

.name-fields {
    display: flex;
    justify-content: space-between; 
    gap: 5px;
    width: 100%;
}

.first-name, .last-name {
    width: 45%;
}

.ask::after{
    content: " *";
    color: red;
    font-weight: bold;
}


.first-name, .last-name, .username-field, .email-field, .password-field {
    display: flex;
    flex-direction: column;
    
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #c7c7c7b6;
    outline: none;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
    border-color: #3d78d7; 
    box-shadow: 0 0 5px rgba(61, 120, 215, 0.5); 
}

label {
    color: #333;
    margin-bottom: 5px;
    display: inline-block;
    
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #3d78d7; 
    cursor: pointer;
    outline: none;
}

.terms-conditions{
    display: flex;
    gap: 5px;    
}

.term {
    flex-direction: column;
    display: inline-block;    
}
.terms-conditions #accept{
    font-size: 14px;
    margin-top: 2px;
    display: block;
}

.terms-conditions a {
    width: 100%;
    margin: 0 auto;
    text-decoration: underline;
    color: #4081e9ea;
    outline: none;
    transition: color 0.3s;
}


.terms-conditions a:hover{
    color: #8a2be2;

}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin-top: 1rem;
}

.submit-btn {
    background-color: #3d78d7;
    font-weight: 550;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
    outline: none;
}

.submit-btn:hover {
    background-color: #346bb0;
}
.login-option {
    font-size: 14px;
}

.login-option a {
    color: #2368d6;
    text-decoration: none;
    text-decoration: underline;
    transition: color 0.3s;
    font-weight: 550;
    outline: none;
    transition: color 0.3s ease-in;
}
.login-option a:hover{   
    color: #6f32e0;
}

.login-option a:hover {
    text-decoration: underline; 
}


@media(max-width: 500px){
    .signup-form{
        border: none;
        padding: 1rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        margin-bottom: 5rem;
    }

    label{
        font-size: 12px
    }
    
    input{
        height: 10px;
        font-size: 10px;
    }

    .name-fields{
        flex-direction: column;
        display: flex;
        gap: 1.5rem;

    }
    .name-fields .first-name, .last-name{
        width: 100%;
    }
}
@media (max-width: 950px) {
    .full-display {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    label{
        font-size: 12px
    }
    
    input{
        height: 10px;
        font-size: 10px;
    }

    .positioned-img {
        width: 380px;
        height: auto;
        margin-top: 20rem;
    }   
        
    .input-fields {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%; 
    }

    .signup-form {
        width: 90%;
        padding: 1.2rem;
    }
    
    .submit-btn {
        padding: 10px;
        font-size: 0.9rem;
        align-self: center;
    }
}

